* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body {
    width: 100%;
    background-color: #eaeded;
    box-sizing: border-box;
}

.first {
    width: 100%;
    height: 70px;
    background-color: #131a22;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.first img {
    width: 130px;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid transparent;
}

.first {

    display: Flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex {
    display: Flex;
    justify-content: center;

}

.flex span,
i {
    color: White;

}

.logo {
    flex: 0.18;
    margin-right: 10px;
    justify-content: space-between;
}

.map {
    border: 1px solid transparent;
    border-radius: 3px;
}

.map i {
    margin-top: 17px;
    padding-left: 5px;
    font-size: 17px;
}

.map div {
    padding: 5px;
    display: flex;
    cursor: pointer;
    flex-direction: column;

}

.map div span:first-child {
    font-size: 13px;
    font-weight: 400;
}

.map div span {
    font-weight: bold;
}

.right {
    justify-content: space-between;
    flex: 0.29;
    margin-right: 10px;
    align-items: center;

}

.input {
    width: 100%;
    background-color: white;
    flex: 0.53;
    border-radius: 5px;
    display: flex;
    margin: 0 10px;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
}

.input input {
    outline: none;
    width: 80%;
    font-size: 16px;
    padding: 10px 2px;
    border: none;
}

.input .fa-search {
    font-size: 20px;
    color: rgb(51, 51, 51);
    padding: 10px 15px;
    cursor: pointer;
    background-color: #febd69;
    border-radius: 0 5px 5px 0;
}

.input div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid gray;
    background-color: rgb(236, 234, 234);
    padding: 6px 0;

}

.input div span {
    border-radius: 5px 0 0 5px;
    color: rgb(51, 51, 51);
    padding: 6px 5px;
    font-size: 13px;
    cursor: pointer;

}

.input .fa-caret-down {
    color: rgb(51, 51, 51);
    cursor: pointer;
    padding: 5px;

}

.lang i {
    padding: 0;
    margin: 0;
    color: gray;

}

.lang {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 1px solid transparent;
    border-radius: 3px;

}

.right img {
    width: 30px;
    height: 30px;
    padding: 4px;
    margin: 0;
    padding-top: 10px;
    cursor: pointer;
}

.sign {
    display: flex;
    flex-direction: column;
    padding: 3px 6px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
}

.sign span:first-child {
    font-weight: 400;
    font-size: 13px;
}

.sign span {
    display: inline-block;
    width: 100%;
    font-weight: bold;
}

.flex .account span {
    font-size: 15px;
    margin-right: 5px;
    font-weight: bold;
}

.fa-shopping-cart {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    /* `p` elementinin konumlandırılacağı bağlamı sağlar */
}

.card {
    font-size: 14px;
    font-weight: bold;
}

.cart {
    align-items: center;
    /* Merkezi hizalamak için */
    position: relative;
    /* İçindeki `p` elementinin konumlandırılabilmesi için */
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
}

.cart p {
    position: absolute;
    font-weight: bolder;
    color: #131a22;
    top: -5px;
    /* `p` elementinin yukarıda yerleşmesi için */
    right: -5px;
    /* `p` elementinin sağda yerleşmesi için */
    background-color: white;
    /* Sayının arka planını beyaz yaparak okunabilirliği artırır */
    padding: 2px 6px;
    /* İç boşluk eklemek için */
    border-radius: 50%;
    /* Sayıyı daire içine almak için */
    z-index: 1;
    /* Diğer elemanların üstünde görünmesini sağlar */
    font-size: 12px;
    /* Sayının boyutunu ayarlamak için */
}

.cart:hover {
    border: 1px solid white;
    border-radius: 3px;
}

.logo img:hover {
    border: 1px solid white;
    border-radius: 3px;

}

.map:hover {
    border: 1px solid white;
    border-radius: 3px;
}

.lang:hover {
    border: 1px solid white;
    border-radius: 3px;
}

.sign:hover {
    border: 1px solid white;
    border-radius: 3px;
}

.lang:hover {
    border: 1px solid white;
    border-radius: 3px;

}

.input .fa-search:hover {
    background-color: #f5b041;
}

.input div:hover {
    background-color: rgb(236, 234, 234);
    color: black;
}

.second {
    width: 100%;
    height: 42px;
    background-color: #232f3e;
    display: flex;
    align-items: center;
    color: white;
    overflow: hidden;
}

.second ul {
    align-items: center;
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.second span {
    font-size: 15px;
}

.second-1 div i {
    font-size: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
}

.second li {
    padding: 5px 10px;
    font-size: 15px;
    margin: 7px 0;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
}

.second-1 {
    flex: 0.06;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-1 div {
    display: flex;
    align-items: center;
    padding-left: 5px;

}

.second-2 {
    display: flex;
    flex: 0.74;
    justify-content: flex-start;
}

.second-3 {
    flex: 0.2;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    overflow: Hidden;
}

.second-3 span {
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
}

.second-1 div span {
    padding: 5px;
    cursor: pointer;

}

.second-1 div span {
    padding: 5px;
    cursor: pointer;
}

.second-1:hover {
    border: 1px solid white;
}

.second-2 li:hover {
    border: 1px solid white;
}

.second-3 span:hover {
    border: 1px solid white;
}

.second-1 div span:hover {
    border: 1px solid white;
}

.second-1 div i:hover {
    border: 1px solid white;
}